.color {
	color: black;
	background-color: #66b3ff;
}
.myFont {
	font-family: 'Sansita Swashed', cursive;
}
.myLink {
	color: black;
}
.jumbotron {
	color: black;
	background-color: #66b3ff;
	margin-top: 40px;
}
.card-hotel {
	flex: 1 150px;
}
.btn-reserva {
	width: 100%;
	border-radius: 0px;
}
.btn-contacto {
	color: black;
	width: 100%;
	border-radius: 0px;
	background-color: #ffad33;
}
.btn-contacto2 {
	color: black;
	width: 100%;
	border-radius: 0px;
	background-color: #ffc266;
}
.footer {
	padding: 10px 0px 10px 0px;
	color: black;
	background-color: #66b3ff;
}
.breadcrumb {
	background-color: white;
	font-weight: lighter;
}
.myItem {
	list-style-type: circle;
}